p{
    background-color: #252525;

}
.Card{
    margin: 10px;
    background-color: #252525;
    width:120px;
    height:160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1 px;
    border-style: solid;
    border-color: #303030 ;
    border-radius: 10px;
    padding: 10px;
}
.Card:hover{
    border-color: #777 ;
}
.top{
    justify-self: flex-start;
}
.button{
    border:none;
    padding:5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.lost{
    background-color: #d14949;
}
.found{
    background-color: #7bd149;
}