*{
    background-color: #101010;
    color: #fff;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    width: 230px;
    border: none;
    height: 20px;
    background-color: #252525;
    color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}
button{
    width: 250px;
    border: none;
    height: 40px;
    background-color: #070707;
    color: #fff;
    border-radius: 15px;
    margin-top: 10px;
}
.cardContainer{
    display: flex;
    flex-direction: row;
}
.card{
    width: 120px;
    height: 90px;
    background-color: #070707;
    color: #fff;
    border-radius: 15px;
    margin-left: 10px;
}
.card p{
    background-color: #070707;
}